:root {
    /* Primary colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Neutral colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
body{
    background-color: var(--pale-blue);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}
p{
    color: var(--desaturated-blue);
}
h1{
    font-size: 1.8rem;
    font-weight: 900;
}
a{
    color: var(--bright-blue);
    font-weight: 600;
}
a:hover{
    text-decoration: none;
    color: rgba(56, 41, 224, 0.5);

}
#hero{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#music{
    margin-right: 15px;
}
.container{
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
}
.offer{
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.main{
    padding: 30px;
    text-align: center;
}

.gap{
    display: flex;
    align-items: center;
}
.text p:first-child{
margin: 0;
font-weight: 900;
font-size: 1em;
color: #000;
}
.text p:last-child{
    margin: 5px 0 0 0;
    
    }
button{
    display: block;
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: var(--dark-blue);
    cursor: pointer;
}
button:nth-of-type(1){
    margin-top: 30px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    box-shadow: 0 10px 30px rgba(56, 41, 224, 0.3);
    transition: background-color 0.5s ease;
}
button:nth-of-type(1):hover{
    background-color: rgba(56, 41, 224, 0.4);
}
button:nth-of-type(2) {
    font-weight: 900;
    background-color: transparent;
    opacity: 0.4;
    transition: opacity 0.5s ease;
}


button:nth-of-type(2):hover {
    opacity: 1;
}

@media (max-width: 600px) {
    body {
        background-image: url('./images/pattern-background-mobile.svg');
    }
}